/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: black;
    color: whitesmoke;
    scroll-behavior: smooth;
}

span {
    color: gold; /* Electric Yellow */
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: black;
    position: sticky;
    top: 0;
    z-index: 1000;
    
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;

}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    padding: 0 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ccff00; /* Electric Yellow */
}

/* Hero Section */
.hero {
    height: 90vh;
    background: linear-gradient( transparent), 
                url('/home/naom-wafula/Documents/GitHub/sports-club/🏋️_♀️¿QUIERES QUE TU NEGOCIO FITNESS IMPACTE….jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 10px;
    color: aquamarine;
}

/* Cards */
.programs {
    padding: 80px 10%;
    text-align: center;
    color: aquamarine;
    
}

.card-container {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    color: aquamarine;
}

.card {
    background: black;
    padding: 30px;
    flex: 1;
    border-radius: 8px;
    transition: transform 0.3s;
    
    
}

.card:hover {
    transform: translateY(-10px);
    border: 1px solid blue;
    
    
}

.btn-main {
    background: #ccff00;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}